.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .ng-star-inserted{
  
    padding-inline-start: 10px;
  }
  .Producers_list{
    list-style-type: none;
    padding-inline-start: 1px !important;
  }
  .example-container{
    margin: 20px;
  }
  .mat-column-Options:not(:first-child){
    display: flex;
    gap: 20px;
  }
  .page_title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: x-large;
    letter-spacing: 1px;
    margin-top: 20px;
  }