


<div class="page_title">
  <h2>List des Films</h2>
  </div>
  
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="listeFilms">

    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="director">
      <mat-header-cell *matHeaderCellDef> Director </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.director}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="releaseDate">
      <mat-header-cell *matHeaderCellDef> ReleaseDate </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.releaseDate}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="producers">
      <mat-header-cell *matHeaderCellDef> Producers </mat-header-cell>
      <mat-cell *matCellDef="let element" style="display:block">
        <ul class="Producers_list" *ngFor="let data of element.producers">
          <li>{{data}}</li>

        </ul>

      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Options">
      <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index;">
        <button mat-icon-button (click)="openDialog(i,element)">
          <mat-icon>commute</mat-icon>
        </button>
        <button 
        matTooltip="Caractèréstique"
        mat-icon-button (click)="CharacterList(i,element)"
        
        aria-label="Button that displays a tooltip when focused or hovered over"
        >
          <mat-icon>visibility</mat-icon>

        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>



